<div class="content">
  <h1 class="header">Edit Contact</h1>
  <form (ngSubmit)="saveContact(contactForm)" #contactForm="ngForm">
    <section>
      <nav>Name/Info</nav>
      <div>
        <profile-icon-selector [(ngModel)]="contact.icon" name="icon" />{{contact.icon}}
        <input required minlength="3" placeholder="First Name" [(ngModel)]="contact.firstName" name="firstName"
          #firstName="ngModel" />
        <em *ngIf="firstName.errors?.['required'] && firstName.touched">Please enter a first name</em>
        <em *ngIf="firstName.errors?.['minlength'] && firstName.touched">Name must be at least 3 characters.</em>
        <input placeholder="Last Name" [(ngModel)]="contact.lastName" name="lastName" />
        <input type="date" placeholder="Date of Birth" [(ngModel)]="contact.dateOfBirth" name="dateOfBirth" />
        <input type="range" min="0" max="10" placeholder="Favorites Ranking" [(ngModel)]="contact.favoritesRanking"
          name="favoritesRanking" />
        {{ contact.favoritesRanking }}
        <div>
          <input type="checkbox" [(ngModel)]="contact.personal" name="personal" />
          Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phones</nav>
      <div class="flex-column" ngModelGroup="phones">
        <div *ngFor="let phone of contact.phones; let i = index" class="flex-column">
          <div class="flex-group">
            <input placeholder="Phone" [(ngModel)]="phone.phoneNumber" name="phoneNumber{{i}}" />
            <img src="/assets/plus-grey-blue.png" class="add" (click)="addPhone()" />
          </div>
          <div class="radio">
            <span *ngFor="let phoneType of phoneTypes">
              <input type="radio" [value]="phoneType.value" [(ngModel)]="phone.phoneType" name="phoneType{{i}}" />{{
              phoneType.title }}
            </span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address" ngModelGroup="address">
          <div class="flex-group">
            <input placeholder="Address" [(ngModel)]="contact.address.streetAddress" name="streetAddress" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input placeholder="City" [(ngModel)]="contact.address.city" name="city" />
          <input placeholder="State/Region" [(ngModel)]="contact.address.state" name="state" />
          <input placeholder="Zip/Postal Code" [(ngModel)]="contact.address.postalCode" name="postalCode" />
          <select [(ngModel)]="contact.address.addressType" name="addressType">
            <option *ngFor="let phoneType of phoneTypes" [value]="phoneType.value">
              {{ phoneType.title }}
            </option>
          </select>
        </div>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea [class.error]="notes.invalid" placeholder="Notes" rows="3" [(ngModel)]="contact.notes" name="notes"
          [restrictedWords]="['foo', 'bar']" #notes="ngModel">
Notes</textarea>
        <em *ngIf="notes.errors?.['restrictedWords']">Restricted words {{notes.errors?.['restrictedWords']}}
          found.</em>
      </div>
    </section>
    <div class="buttons">
      <button class="secondary" type="button">Cancel</button>
      <button class="primary" type="submit">Save</button>
      <button class="saving" disabled>Saving...</button>
    </div>
  </form>
</div>